div#menu.title
  img(src='/images/title_screen.jpg', alt='a', usemap='#mapmenu')
  map(id="mapmenu", name="mapmenu")
    area(id='play', shape="rect", title="Start Now!", coords="468,226,619,338", href="#")
    area#instruction(shape="rect", coords="383,426,567,530", href="#")
    area#us(shape="rect", coords="485,598,589,688", href="#")

div#us-screen.title
  img(src='/images/title_screen_us.jpg', alt='a', usemap='#mapus')
  map(id="mapus", name="mapus")
    area#back-to-menu-from-us(shape="rect", coords="648,563,766,634", href="#")

div#instruction-screen.title
  img(src='/images/title_screen_instructions.jpg', alt='a', usemap='#mapinst')
  map(id="mapinst", name="mapinst")
    area#back-to-menu-from-instruction(shape="rect", coords="631,544,754,618", href="#")


