div#menu
  img(src='/images/title_screen.jpg', alt='a', usemap='imgmap2012729141345')
  map(id="imgmap2012729141345", name="imgmap2012729141345")
    area(id='play', shape="rect", title="Start Now!", coords="468,226,619,338", href="#")
