!!!
html
  head
    title= title
    link(rel="stylesheet", href="stylesheets/style.css")
    //if lt IE 9
      script(type="text/javascript", src="/javascripts/excanvas.compiled.js")
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/sugar-1.3.min.js")
    script(type="text/javascript", src="/javascripts/request_animation_frame.js")
    script(type="text/javascript", src="/javascripts/vector.js")
    script(type="text/javascript", src="/javascripts/canvas_extensions.js")
    script(type="text/javascript", src="/javascripts/hit.js")
    script(type="text/javascript", src="/javascripts/splash.js")
    script(type="text/javascript", src="/javascripts/module.js")
    script(type="text/javascript", src="/javascripts/keyboard.js")
    script(type="text/javascript", src="/javascripts/game_audio.js")
    script(type="text/javascript", src="/javascripts/hive.js")
    script(type="text/javascript", src="/javascripts/mouse.js")
    script(type="text/javascript", src="/javascripts/weapon.js")
    script(type="text/javascript", src="/javascripts/seekable.js")
    script(type="text/javascript", src="/javascripts/separable.js")
    script(type="text/javascript", src="/javascripts/bee_launcher.js")
    script(type="text/javascript", src="/javascripts/animation.js")
    script(type="text/javascript", src="/javascripts/flier.js")
    script(type="text/javascript", src="/javascripts/bee.js")
    script(type="text/javascript", src="/javascripts/enemy.js")
    script(type="text/javascript", src="/javascripts/flyghter.js")
    script(type="text/javascript", src="/javascripts/beetlebeer.js")
    script(type="text/javascript", src="/javascripts/wespa.js")
    script(type="text/javascript", src="/javascripts/duif.js")
    script(type="text/javascript", src="/javascripts/battrick.js")
    script(type="text/javascript", src="/javascripts/score.js")
    script(type="text/javascript", src="/javascripts/wave_manager.js")
    script(type="text/javascript", src="/javascripts/game.js")
    script(type="text/javascript", src="/javascripts/boot.js")
  body(style="background-color: #000")
    #game(style="background-image:url('/images/fundo.jpg'); height: 768px; width: 1024px; margin: 0 auto")
      image(src="/images/fundo_campjam_copa.png", style="position: absolute;")
      image(src="/images/galho.png", style="position: absolute;")
      image(src="/images/fundo_campjam_copa.png", style="position: absolute; z-index:10; opacity: 0.7")
