!!!
html
  head
    title= title
    link(rel="stylesheet", href="stylesheets/style.css")
    //if lt IE 9
      script(type="text/javascript", src="/javascripts/excanvas.compiled.js")
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/request_animation_frame.js")
    script(type="text/javascript", src="/javascripts/vector.js")
    script(type="text/javascript", src="/javascripts/canvas_extensions.js")
    script(type="text/javascript", src="/javascripts/keyboard.js")
    script(type="text/javascript", src="/javascripts/mouse.js")
    script(type="text/javascript", src="/javascripts/weapon.js")
    script(type="text/javascript", src="/javascripts/animation.js")
    script(type="text/javascript", src="/javascripts/flier.js")
    script(type="text/javascript", src="/javascripts/bee.js")
    script(type="text/javascript", src="/javascripts/enemy.js")
    script(type="text/javascript", src="/javascripts/score.js")
    script(type="text/javascript", src="/javascripts/game.js")
    script(type="text/javascript", src="/javascripts/boot.js")
  body(style="background-color: #000")
    #game(style="background-image:url('/images/fundo_campjam.jpg'); height: 768px; width: 1024px; margin: 0 auto")
